body{
	margin:0 auto;
	font-family:"Roboto", sans-serif;
	color:#2a3933;
}

.page-content{
	display: flex;
	height:100vh;
}

/* Header Styling ===================================== */
h2{
	font:300 20px "Roboto";
	color:#666666;
	letter-spacing: 1px;
	text-transform: uppercase;
	text-align: center;
	padding-bottom: 15px;
	position: relative;
}

h2:after {
	content:""; 
	background: grey; 
	position: absolute; 
	transform: rotate(90deg);
	left:50%;
	bottom: 0;
	top:50%;
	height: 100%; 
	width: 2px;
	border-radius: 10px;
}

/* List Items ===================================== */
.book-lists {
	display: flex;
	background-color: #EAF4F4;
	border-radius: 10px;
	justify-content: space-around;
	margin:15px 30px;
	width:100vw;
}

ul{
	max-height:77vh;
	overflow: scroll;
	margin:0 auto;
	padding:0;
}

.need-to-read, .already-read {
	padding:20px;
}

li{
	display: flex;
	justify-content: space-between;
	align-items: center;
	list-style-type: none;
	min-width:325px;
	font-size:14px;
	margin:10px 0;
	background-color: #A4C3B2;
	padding:10px;
	border-radius: 10px;
}

button {
	margin-left: 8px;
	cursor: pointer;
	border-radius: 50%;
	width:40px;
	height: 40px;
	border:2px solid #EAF4F4;
	color:#6B9080;
}

button:hover{
	background-color: #6B9080;
	color:white;
	transition: .15s;
	border-color:#6B9080;
}

button:focus, button:active{
	outline: none;
}

/* Add a Book Form ====================================== */
.add-book{
	text-align: center;
	padding:0 50px;
	min-width: 200px;
	background-color:#EAF4F4;
	box-shadow: 1px 1px 10px lightgrey;
	width:100vw;
}

p{
	font:100 16px "Roboto";
	text-align: left;
}

.add-book button{
	background-color: #A4C3B2;
	color:white;
	border-radius: 50%;
	margin:20px 5px;
	border:none;
}

.add-book button:hover {
	background-color:#6B9080;
	transition: .25s;
	transform: scale(.99);
}

input[type=text], input[type=text]:focus{
	padding: 10px;
	outline:none;
	width:100%;
	border-radius: 10px;
	border:2px solid lightgrey;
	font-size:15px;
	color:#6B9080;
}

#radio-buttons{
	padding:20px 0;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 100;
	font-size: 14px;
}

input[type=radio]{
	cursor: pointer;
	margin:10px 10px 10px 0;
}

.test{
	display: flex;
	justify-content: space-between;
	width:106%;
}


/* Responsiveness ================================== */
@media screen and (max-width: 1100px) {
	.page-content{
		flex-wrap: wrap;
	}
	p{
		text-align: center;
	}
	.test{
		width:100%;
	}
	#radio-buttons {
		display: flex;
		align-items: center;
	}
	#read-radio{
		margin-left:50px;
	}
	.book-lists{
		margin:15px;
	}
}

@media screen and (max-width: 600px) {
}